:root {
    font-size: 16px;
    --bg-primary: #ECEFF4;
    --bg-secondary: #D8DEE9;
    --bg-attention: #E5E9F0;
    --fg-primary: #2E3440;
    --fg-secondary: #3B4252;
    --fg-attention: #434C5E;
}

body {
    color: var(--fg-primary);
    background-color: var(--bg-primary);
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #6649b8;
}

.navbar {
    position: fixed;
    background-color: var(--fg-secondary);
    transition: width 200ms ease;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--bg-secondary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--fg-attention);
    color: var(--bg-attention);
}

.nav-item.active .nav-link {
    filter: grayscale(0%) opacity(1);
    color: var(--bg-primary);
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link svg {
    min-width: 2rem;
    margin: 0 1.5rem;
    transition: var(--transition-speed);
}

.nav-item.active {
    color: orangered;
}

.tiles {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    grid-gap: 1rem;
}

.tile {
    border-radius: 1rem;
    background: var(--bg-secondary);
    padding: 1rem;
    transition: transform 0.2s, background 0.5s;
    box-shadow: 1px 1px 5px 0px var(--fg-secondary);
}

.tile:hover {
    background: var(--bg-attention);
    transform: scale(1.05);
}

.tile-phrase {
    text-align: center;
}

.tile-img {
    width: 100%;
}

.speech-text {
    opacity: 0.8;
    background: var(--fg-secondary);
    color: var(--bg-secondary);
    transition: color 0.5s;
    font-size: 2.0em;
    position: fixed;
    top: 2rem;
    left: 50%;
    padding: 1rem;
    border-radius: 1rem;
}

.speech-text strong {
    color: var(--bg-primary);
}

@media only screen and (min-width: 600px) {

    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .navbar:hover {
        width: 16rem;
    }

    .navbar:hover .link-text {
        display: inline;
        transition: opacity var(--transition-speed);
    }

    main {
        margin: 1rem 1rem 1rem 6rem;
    }

    .speech-text {
        transform: translate(calc(-50% + 2rem), 0px);
    }
}

@media only screen and (max-width: 600px) {

    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }

    main {
        margin: 1rem 1rem 5rem 1rem;
    }

    .speech-text {
        transform: translate(-50%, 0px);
    }
}
